<button class="btn btn-primary" (click)="onEditClicked()">edit</button> |
<button class="btn btn-danger" (click)="onDeleteClicked()">delete</button> |
<button class="btn btn-warning" (click)="onInfoClicked()">info</button>